#laHora{
  text-align: center;
  font-size: xx-large;
  color: darkorchid;
  background-color: chartreuse;
  height: 400;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#mostrar{
  text-align: center;
  font-size: xx-large;
  background-color: azure;
}

#menu{
  background-color: cadetblue;
  display: flex;
  font-size: xx-large;
  text-align: center;
}
