#laHora{
  text-align: center;
  font-size: xx-large;
  color: darkorchid;
  background-color: chartreuse;
  height: 400;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#saludopag{
  text-align: center;
  font-size: xx-large;
  color: chartreuse;
  height: 400;
  background-color: darkorchid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}